@keyframes typewriter {
  from { width: 0; }
  to { width: 100%; }
}

.typewriter, .typewriter-subtitle {
  overflow: hidden;
  display: inline-block;
  white-space: nowrap;
  width: 0;
}

.typewriter {
  animation: typewriter 1s steps(20) 0.5s forwards;
}

.typewriter-subtitle {
  animation: typewriter 1s steps(30) 1.5s forwards;
}
